In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression 
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import Ridge, Lasso, ElasticNet

In [2]:
#read the dataset
numerical=pd.read_csv("numerical_cleaned.csv")
categorical=pd.read_csv("clean_categorical.csv")

In [3]:
data=pd.concat([numerical, categorical], axis=1)

In [4]:
data.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,state,response,...,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,2763.519279,56274,69,32,5,0,1,384.811147,Washington,No,...,2.0,F,0.5,Married,Corporate Auto,L3,Offer1,Agent,Two-Door Car,0.5
1,6979.535903,0,94,13,42,0,8,1131.464935,Arizona,No,...,0.0,F,0.5,Single,Personal Auto,L3,Offer3,Agent,Four-Door Car,0.5
2,12887.431650,48767,108,18,38,0,2,566.472247,Nevada,No,...,2.0,F,0.5,Married,Personal Auto,L3,Offer1,Agent,Two-Door Car,0.5
3,7645.861827,0,106,18,65,0,7,529.881344,California,No,...,0.0,M,0.5,Married,Corporate Auto,L2,Offer1,Call Center,SUV,0.5
4,2813.692575,43836,73,12,44,0,1,138.130879,Washington,No,...,2.0,M,0.0,Single,Personal Auto,L1,Offer1,Agent,Four-Door Car,0.5

In [5]:
# check for null value
data.isna().sum()

customer_lifetime_value          0
income                           0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
total_claim_amount               0
state                            0
response                         0
coverage                         0
education                        0
employmentstatus                 0
gender                           0
location_code                    0
marital_status                   0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [6]:
y = data['total_claim_amount']  #===> our target is numerical
X = data.drop(['total_claim_amount'], axis=1)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
X_train_num = X_train.select_dtypes(include = np.number)
X_test_num  = X_test.select_dtypes(include = np.number)
X_train_cat = X_train.select_dtypes(include = object)
X_test_cat  = X_test.select_dtypes(include = object)

In [22]:
# Normalizing data
from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler().fit(X_train_num) # we will reuse this transformer for X_test later
X_train_scaled_arr = transformer.transform(X_train_num)
X_train_scaled = pd.DataFrame(X_train_scaled_arr, columns=X_train_num.columns)
X_train_scaled

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,coverage,education,employmentstatus,location_code,vehicle_size
0,0.035258,0.511537,0.000000,0.800000,0.323232,0.2,1.000,0.0,0.5,1.0,1.0,0.5
1,0.011416,0.000000,0.075949,0.857143,0.252525,0.0,0.000,0.5,0.5,0.0,0.5,0.5
2,0.012464,0.811124,0.054852,0.200000,0.676768,0.0,0.000,0.0,0.5,1.0,0.5,0.0
3,0.039793,0.722777,0.012658,0.057143,0.666667,0.0,1.000,0.0,0.5,1.0,1.0,0.5
4,0.008748,0.547474,0.021097,0.085714,0.868687,0.0,0.000,0.0,0.5,1.0,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...
7302,0.066763,0.879737,0.000000,0.885714,0.636364,0.0,0.125,0.0,0.5,1.0,0.5,0.0
7303,0.044223,0.225243,0.050633,0.485714,0.646465,0.0,0.250,0.0,0.5,0.0,0.5,0.5
7304,0.087130,0.000000,0.286920,0.371429,0.040404,0.0,0.750,0.5,0.0,0.0,0.5,0.5
7305,0.156427,0.000000,0.329114,0.142857,0.565657,0.0,0.125,0.5,0.5,0.0,0.5,0.5
7306,0.017827,0.781068,0.097046,0.971429,0.131313,0.0,0.000,0.5,0.5,1.0,1.0,0.5

In [10]:
#For encoding of the categorical varaibles , we should apply OneHotEncoder and OrdinalEncoder.

In [11]:
X_train_cat.head()

,state,response,gender,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class
5123,Washington,No,M,Married,Personal Auto,L3,Offer1,Agent,Two-Door Car
7738,Oregon,No,F,Single,Special Auto,L2,Offer3,Branch,Four-Door Car
214,Arizona,No,M,Divorced,Personal Auto,L1,Offer4,Agent,Four-Door Car
8580,California,No,F,Married,Corporate Auto,L3,Offer3,Web,Four-Door Car
7857,Washington,No,F,Single,Personal Auto,L3,Offer3,Web,Four-Door Car

In [12]:
y_train

5123     223.305224
7738     568.800000
214      355.200000
8580     272.649844
7857     391.970334
           ...
5734     308.321335
5191     350.400000
5390    1059.572464
860      667.200000
7270     344.015386
Name: total_claim_amount, Length: 7307, dtype: float64

In [13]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first').fit(X_train_cat)
encoded_cat = encoder.transform(X_train_cat).toarray()
cols = encoder.get_feature_names_out(input_features=X_train_cat.columns)
onehot_encoded = pd.DataFrame(encoded_cat, columns=cols)
onehot_encoded

,state_California,state_Nevada,state_Oregon,state_Washington,response_Yes,gender_M,marital_status_Married,marital_status_Single,policy_type_Personal Auto,policy_type_Special Auto,...,renew_offer_type_Offer3,renew_offer_type_Offer4,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car
0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7303,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7304,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
7305,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
7306,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
X_train_treated = pd.concat([X_train_scaled, onehot_encoded], axis=1)

In [15]:
from sklearn import linear_model
lm = linear_model.LinearRegression()
lm.fit(X_train_treated,y_train)

LinearRegression()

In [16]:
X_test_scaled_arr = transformer.transform(X_test_num)
X_test_scaled = pd.DataFrame(X_test_scaled_arr, columns=X_test_num.columns)

In [17]:
encoded_test_cat = encoder.transform(X_test_cat).toarray()
onehot_encoded_test = pd.DataFrame(encoded_test_cat, columns=cols)

In [18]:
from sklearn.metrics import r2_score
predictions = lm.predict(X_train_treated )   
r2_score(y_train, predictions)

0.6309893032088483

In [19]:
def test_models(X_train_treated  ,X_test_scaled,y_train,y_test,models=None):
    if models is None:
        models = {
            'Linear Regression': LinearRegression(),
            'KNN': KNeighborsRegressor(),
            'MLP Regressor': MLPRegressor(max_iter=10000),
            'Random Forest': RandomForestRegressor(),
            'Gradient Boosting': GradientBoostingRegressor(),
            'SVR': SVR(),
            'Decision Tree': DecisionTreeRegressor(),
            'Ridge': Ridge(),
            'Lasso': Lasso(),
            'Elastic Net': ElasticNet()
      }
    
    results= {}
    
    for name,model in models.items():
        model.fit(X_train_scaled,y_train)    #train the model
        predictions=model.predict(X_test_scaled) #prdict on the test set
        
        mse = mean_squared_error(y_test,predictions) # Mean Squared Error
        r2 = r2_score(y_test,predictions) # R2
        
        results[name] = {"MSE":mse, "R2": r2}
        
    return results

In [20]:
results = test_models(X_train_treated ,X_test_scaled,y_train,y_test)

In [21]:
results

{'Linear Regression': {'MSE': 32181.123821773886, 'R2': 0.5952621986743627},
 'KNN': {'MSE': 25450.606694065842, 'R2': 0.6799110356490977},
 'MLP Regressor': {'MSE': 16284.760106893098, 'R2': 0.7951886939287116},
 'Random Forest': {'MSE': 15165.985470122423, 'R2': 0.8092593767666763},
 'Gradient Boosting': {'MSE': 15891.80950611061, 'R2': 0.8001307824359714},
 'SVR': {'MSE': 53156.70732139576, 'R2': 0.3314550179749999},
 'Decision Tree': {'MSE': 27215.742336283332, 'R2': 0.6577111546620563},
 'Ridge': {'MSE': 32177.061926871742, 'R2': 0.5953132845973098},
 'Lasso': {'MSE': 32297.90889881191, 'R2': 0.5937934079767541},
 'Elastic Net': {'MSE': 66899.5915439474, 'R2': 0.15861255371199334}}

# To conclude:

It's crucial to use multiple evaluation metrics and not rely solely on one. Cross-validation can also be employed to get a more robust estimate of model performance by assessing how well the model generalizes to new data.
based on the result of evelation of the prformance, the best performance are related to Grading Boodting and Random forest.

Analyze the results Random Forest and Gradient Boosting, along with their Mean Squared Error (MSE) and R-squared (RÂ²) values: 

- Mean Squared Error (MSE):

The Random Forest model has a lower MSE (15165.99) compared to the Gradient Boosting model (15891.81). In general, a lower MSE is better, as it indicates that the model's predictions are closer to the actual values.

- R-squared (RÂ²):

The Random Forest model has a higher RÂ² (0.809) compared to the Gradient Boosting model (0.800). A higher RÂ² suggests that a larger proportion of the variance in the dependent variable is explained by the model.

- Conclusion:

Both models seem to perform well, but the Random Forest model appears to have a slight advantage in terms of both MSE and RÂ².